.page {
  margin: 20px;
}

.interactions {
  text-align: center;
}

.table {
  margin: 20px 0;
}

.table-header {
  display: flex;
  line-height: 24px;
  font-size: 16px;
  padding: 0 10px;
  justify-content: space-between;
}

.table-empty {
  margin: 200px;
  text-align: center;
  font-size: 16px;
}

.table-row {
  display: flex;
  line-height: 24px;
  white-space: nowrap;
  margin: 10px 0;
  padding: 10px;
  background: #ffffff;
  /* background: #f6f6ef; */
  border: 1px solid #ff6600;
}

.table-row:hover {
  box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.5);
  cursor: pointer;
  background: #ffdd99;
  transform:scale(1.015,1.015);
  transform-origin:center;
  /* border-radius: 8px; */
}

.table-header > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.table-row > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.button-inline {
  border-width: 0;
  background: transparent;
  color: inherit;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  padding: 0;
  font-size: inherit;
  cursor: inherit;
}

.button-active {
  border-radius: 0;
  border-bottom: 1px solid #38BB6C;
}

.largeColumn {
  width: 40%;
}

.midColumn {
  width: 30%;
}

.smallColumn {
  width: 10%;
}

input {
  background: #ffffff;
  /* font-weight: bold; */
  color: #000000;
}
