body {
  color: #222;
  /* background: #f4f4f4; */
  background: #f6f6ef;
  font: 400 14px CoreSans, Arial, sans-serif;
}

a {
  color: #222222;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #1010a5;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background: transparent;
  color: #828282;
  cursor: pointer;
}

button:hover {
  /* color: #222222; */
  /* font-weight: bold; */
  color: #cc0000;
}

*:focus {
  outline: none;
}
